body {
    overflow-y: hidden;
}

.main-div {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;

}

.left-block {
    margin-left: 200px;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 15px;

    padding: 20px;
    width: 500px;
}

.create-gem {
    margin-bottom: 50px;
}

.button {
    border-radius: 8px;
    background: rgb(223, 214, 214);
    width: 80px;
    height: 30px;
}

.card-image {
    width: 160px;
}

li {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    padding-right: 20px;
    padding-bottom: 15px;
}

.right-block {
    margin-right: 280px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    width: 280px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 612px;
}

.title {
    text-align: center;
    display: flex;
    justify-content: center;
}

.operations {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#sort-by-purity-desc-button {
    width: fit-content;
}

.right-block-div {
    display: flex;
    justify-content: center;
}