.part-body {
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(62, 129, 62);
    border-radius: 13px;
    width: 380px;
    height: 480px;
    background-color: rgb(223, 253, 209);
}

.part-body:hover {
    transition: 0.8s;
    width: 500px;
}

.body-text {
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

.central-part-body {
    width: 450px;
}

#gem1 {
    width: 200px;
}

#gems2 {
    width: 480px;
}

#gem3 {
    width: 350px;
}

.body-image {
    display: flex;
    justify-content: center;
}