a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 12px;
    padding-right: 15px;
}

li {
    margin-right: 15px;
}

li:hover {
    transition: 0.8s;
    font-size: 20px;
}

li:not(:hover) {
    transition: 0.8s;
}

.cart-l-i{
    margin-left: 50px;
}