.footer {
    margin-top: 190px;
    background-color: rgb(208, 208, 208);
    height: 190px;
    padding: 30px;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
}

.left-div img {
    width: 80px;
}

.right-div {
    margin-top: 20px;
}

.lower-footer {
    display: flex;
    justify-content: center;
}

.contact-us {
    transition: 0.8s;
    margin-top: 15px;
    text-align: center;
}

.contact-us:hover {
    transition: 0.8s;
    margin-top: 25px;
    font-size: 20px;
}

hr {
    height: 2px;
    background-color: rgb(102, 102, 102);
}