.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-home {
    color: #202336;
}

.header__nav ul {
    display: flex;
    margin-top: 57px;
    padding: 0;
}

.header__nav-item {
    margin-right: 35px;
}

.header__nav-partner {
    margin-right: 0;
}

.header__image img {
    width: 41px;
    margin-top: 37px;
}

.header__log-buttons button {
    width: 132px;
    height: 44px;
    margin-right: 18px;
    border-radius: 8px;
    margin-top: 35px;
    position: sticky;
}

.header__login {
    border: 1px solid #FB8F1D;
    color: #FB8F1D;
    background: #FFFFFF;
}

.header__login:hover {
    transition: 0.8s;
    background: #FB8F1D;
    color: white;
    border-radius: 10px;
    border-color: #FB8F1D;
}

.header__register {
    background: #FB8F1D;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.header__register:hover {
    transition: 0.8s;
    background: white;
    color: #FB8F1D;
    border-radius: 10px;
    border-color: #FB8F1D;
}

.header-2 {
    display: none;
}



@media screen and (max-width: 600px) {
    .header {
        display: none;
    }

    .header-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FB8F1D;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
    }

    .header-2__log-buttons {
        padding-bottom: 28px;
    }

    .header-2__log-buttons button {
        width: 70px;
        height: 32px;
        margin-right: 18px;
        border-radius: 8px;
        margin-top: 35px;
        position: sticky;
        background-color: #FFFFFF;
    }

    .header-2__log-buttons button:hover {
        transition: 0.8s;
        background: rgb(0, 0, 0);
        color: #FB8F1D;
        border-radius: 10px;
        border-color: rgb(0, 0, 0);
    }
}

@media screen and (min-width: 2840px) {
    .header-container {
        margin-left: 24%;
        margin-right: 24%;
    }
}